<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">
    <display-name>lab 6</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>com.example.lab9.servlet.TeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>com.example.lab9.servlet.PlayerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamDelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerDelete</url-pattern>
    </servlet-mapping>
</web-app>